<%= form_for(@translator) do |f| %>
  <% if @translator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@translator.errors.count, "error") %> prohibited this translator from being saved:</h2>

      <ul>
      <% @translator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
	<div class="large-6 large-centered columns">
	<div class="row column log-in-form">
  <div class="field field-padding">
    <%= f.label :TranslatorEng ,"English"%><br>
    <%= f.text_field :TranslatorEng %>
  </div>
  <div class="field field-padding">
    <%= f.label :TranslatorChinese, "Chinese" %><br>
    <%= f.text_field :TranslatorChinese %>
  </div>
  <div class="field field-padding">
    <%= f.label :TranslatorDescription, "Description" %><br>
    <%= f.text_area :TranslatorDescription %>
  </div>
  <div class="actions field-padding">
    <%= f.submit %>
  </div>
  </div>
	</div>
	</div>
<% end %>
