
<p id="notice"><%= notice %></p>

<h1>Listing Translators</h1>

<%= form_tag editmultranslate_translators_path, method: :get do %>
<table id="translators" class="display">
  <thead>
    <tr>
      <th></th>
      <th>English</th>
      <th>Chinese</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @translators.each do |translator| %>
      <tr>
      	<td align="middle"><%= check_box_tag "translator_ids[]", translator.id %></td>
        <td><%= translator.TranslatorEng %></td>
        <td><%= translator.TranslatorChinese %></td>
        <td><%= translator.TranslatorDescription %></td>
        <!--
        <td><%= link_to 'Show', translator %></td>
        <td><%= link_to 'Edit', edit_translator_path(translator) %></td>
        <td><%= link_to 'Destroy', translator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>

	<% @forms.each do |form| %>
		<% result = form.FormDescription.split(/ /||/,/)%>
					<% result.count%>
		<% @translators.each do |translate| %>
		
			<%if form.FormDescription.include? translate.TranslatorEng%>	
					<% $tran = 0%>
					<% until $tran > (result.count-1)%>
						<%if result[$tran] == translate.TranslatorEng%>
						<span data-tooltip aria-haspopup="true" class="has-tip " data-disable-hover="false" tabindex="1" title="<%= translate.TranslatorChinese%>,  <%= translate.TranslatorDescription%>  ">
							<%= result[$tran]%>
						</span>
						<%else%>
						<%= result[$tran]%>
						<%end%>
						<% $tran += 1%>
					<%end%>	
			<%end%>
			
		<%end%>
		
	<%end%>
<%= submit_tag "Edit Checked" %>
<% end %>
<br>


<%= link_to 'New Translator', new_translator_path %>
