<p id="notice"><%= notice %></p>

<h1>Listing Translators</h1>

<table>
  <thead>
    <tr>
      <th>Translatoreng</th>
      <th>Translatorchinese</th>
      <th>Translatordescription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @translators.each do |translator| %>
      <tr>
        <td><%= translator.TranslatorEng %></td>
        <td><%= translator.TranslatorChinese %></td>
        <td><%= translator.TranslatorDescription %></td>
        <td><%= link_to 'Show', translator %></td>
        <td><%= link_to 'Edit', edit_translator_path(translator) %></td>
        <td><%= link_to 'Destroy', translator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Translator', new_translator_path %>
