<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :QuestionDesc %><br>
    <%= f.text_area :QuestionDesc %>
  </div>
  <div class="field">
    <%= f.label :QuestionNumber %><br>
    <%= f.number_field :QuestionNumber %>
  </div>
  <div class="field">
    <%= f.label :isSubQuestion %><br>
    <%= f.check_box :isSubQuestion %>
  </div>
  <div class="field">
    <%= f.label :section_id %><br>
    <%= f.text_field :section_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
