<%= form_for @question, :id => "question_creation" ,  :url => submit_create_questions_path, remote: true do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this form from being saved:</h2>
      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :section_id, :value => @section_id %> 
  <%= f.hidden_field :QuestionNumber, :value => @questCount.count+1 %>
	<div class="row">
		<div class="large-12 columns new_form">
	        <%= f.label :QuestionDesc, 'Question' %>
	        <%= f.text_field :QuestionDesc%>
    	</div>
	</div>  
 
	<div class="row">
	<div class="large-6 columns">
		<%= f.submit data: { confirm: 'Are you sure?' }, :value => "Create"%>
	</div>
		<div class="large-6 columns">
	<%= f.submit "clear", :type => "reset" %>
	</div>
  </div>

<% end %>

