<p id="notice"><%= notice %></p>

<h1>Listing Studanswers</h1>

<table>
  <thead>
    <tr>
      <th>Studentanswer</th>
      <th>Studentanswer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @studanswers.each do |studanswer| %>
      <tr>
        <td><%= studanswer.StudentAnswer %></td>
        <td><%= studanswer.StudentAnswer %></td>
        <td><%= link_to 'Show', studanswer %></td>
        <td><%= link_to 'Edit', edit_studanswer_path(studanswer) %></td>
        <td><%= link_to 'Destroy', studanswer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Studanswer', new_studanswer_path %>
