<p id="notice"><%= notice %></p>

<p>
  <strong>Studentanswer:</strong>
  <%= @studanswer.StudentAnswer %>
</p>

<p>
  <strong>Formanswer:</strong>
  <%= @studanswer.formanswer %>
</p>

<%= link_to 'Edit', edit_studanswer_path(@studanswer) %> |
<%= link_to 'Back', studanswers_path %>
