
<div class="row">
<div class="medium-6 medium-centered large-4 large-centered columns">
<div class="row column log-in-form">
	<h4 class="text-center">Sign up</h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field field-padding">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, plcaeholder:"someone@example.com" %>
  </div>

  <div class="field field-padding">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field field-padding">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

	<div class="field field-padding">
	  <%= f.label :name %><br />
	  <%= f.text_field :name %>
	</div>
	
	<div class="field field-padding">
	  <%= f.label :ICNo, "IC number" %><br />
	  <%= f.text_field :ICNo%>
	</div>
	
	<div class="field field-padding">
	  <%= f.label :age %><br />
	  <%= f.text_field :age %>
	</div>

	<div class="field field-padding">
	  <%= f.label :programme %><br />
	  <%= f.text_field :programme %>
	</div>

  <div class="actions field-padding">
    <%= f.submit "Sign up", :class => 'button expanded' %>
  </div>
<% end %>
</div>
</div>
</div>
<%= render "devise/shared/links" %>