<p id="notice"><%= notice %></p>

<p>
  <strong>Studentname:</strong>
  <%= @student.StudentName %>
</p>

<p>
  <strong>Studentic:</strong>
  <%= @student.StudentIC %>
</p>

<p>
  <strong>Studentage:</strong>
  <%= @student.StudentAge %>
</p>

<p>
  <strong>Studentprogramme:</strong>
  <%= @student.StudentProgramme %>
</p>

<p>
  <strong>Studentemail:</strong>
  <%= @student.StudentEmail %>
</p>

<p>
  <strong>Studentlogaccess:</strong>
  <%= @student.StudentLogAccess %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
