<p id="notice"><%= notice %></p>

<p>
  <strong>Subquestiondesc:</strong>
  <%= @subquestion.SubquestionDesc %>
</p>

<p>
  <strong>Question:</strong>
  <%= @subquestion.question %>
</p>

<%= link_to 'Edit', edit_subquestion_path(@subquestion) %> |
<%= link_to 'Back', subquestions_path %>
