<p id="notice"><%= notice %></p>

<h1>Listing Studsubquestionanswers</h1>

<table>
  <thead>
    <tr>
      <th>Subquestionanswer</th>
      <th>Formanswer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @studsubquestionanswers.each do |studsubquestionanswer| %>
      <tr>
        <td><%= studsubquestionanswer.subquestionanswer %></td>
        <td><%= studsubquestionanswer.formanswer %></td>
        <td><%= link_to 'Show', studsubquestionanswer %></td>
        <td><%= link_to 'Edit', edit_studsubquestionanswer_path(studsubquestionanswer) %></td>
        <td><%= link_to 'Destroy', studsubquestionanswer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Studsubquestionanswer', new_studsubquestionanswer_path %>
