<p id="notice"><%= notice %></p>

<p>
  <strong>Subquestionanswer:</strong>
  <%= @studsubquestionanswer.subquestionanswer %>
</p>

<p>
  <strong>Formanswer:</strong>
  <%= @studsubquestionanswer.formanswer %>
</p>

<%= link_to 'Edit', edit_studsubquestionanswer_path(@studsubquestionanswer) %> |
<%= link_to 'Back', studsubquestionanswers_path %>
