<p id="notice"><%= notice %></p>

<h1>Listing Subanswers</h1>

<table>
  <thead>
    <tr>
      <th>Subanswerdesc</th>
      <th>Subanswercount</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subanswers.each do |subanswer| %>
      <tr>
        <td><%= subanswer.SubAnswerDesc %></td>
        <td><%= subanswer.SubAnswerCount %></td>
        <td><%= subanswer.answer %></td>
        <td><%= link_to 'Show', subanswer %></td>
        <td><%= link_to 'Edit', edit_subanswer_path(subanswer) %></td>
        <td><%= link_to 'Destroy', subanswer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subanswer', new_subanswer_path %>
