<p id="notice"><%= notice %></p>

<p>
  <strong>Form:</strong>
  <%= @formassociate.form %>
</p>

<p>
  <strong>Yearofstudy:</strong>
  <%= @formassociate.yearofstudy %>
</p>

<p>
  <strong>Levelofstudy:</strong>
  <%= @formassociate.levelofstudy %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @formassociate.faculty %>
</p>

<p>
  <strong>Programme:</strong>
  <%= @formassociate.programme %>
</p>

<p>
  <strong>Agefrom:</strong>
  <%= @formassociate.agefrom %>
</p>

<p>
  <strong>Ageto:</strong>
  <%= @formassociate.ageto %>
</p>

<p>
  <strong>Agecondition:</strong>
  <%= @formassociate.agecondition %>
</p>

<%= link_to 'Edit', edit_formassociate_path(@formassociate) %> |
<%= link_to 'Back', formassociates_path %>
