<p id="notice"><%= notice %></p>

<h1>Users Record</h1>
<!--<input type="button" id="select_all" value="Select all"/>-->
<%= form_tag editmuluser_users_path ,method: :get do %>
<table id="users" class="display ">
  <thead>
    <tr>
      <th></th>
      <th>Email</th>
      <th>Name</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
      	<div id="checkboxes">
      	<td align="middle"><%= check_box_tag "user_ids[]", user.id ,false ,class: "checkbox"%></td>
      	<td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.role.name %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Edit Checked" %>
<% end %>
<br>
    
    