

<h1>Listing Users</h1>
<%= form_tag selectBss_path ,method: :post do %>
<table id="users" class="display">
  <thead>
    <tr>
      <th></th>
      <th>Email</th>
      <th>Name</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
      	<td align="middle"><%= check_box_tag "user_ids[]", user.id %></td>
      	<td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.role.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'New User', new_user_path %>
