<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
	<div class="row column log-in-form ">


<h5 class="text-center">Forgot your password?</h5>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

	<p class="text-center"> provide additional information to aid in the recovery process.</p>

	<p class="medium-centered" style="height:100px; width: 100px; "><img src="/assets/Recovery.png" alt="recovery"></p>
	
  <div class="field field-padding">
    <%= f.label :"Enter email that registered to our site." %><br />
    <%= f.email_field :email, autofocus: true , placeholder:"someone@example.com" %>
  </div>

  <div class="actions field-padding">
    <%= f.submit "Send me reset password instructions" ,:class => 'button expanded' %>
  </div>
<% end %>

</div>
</div>
</div>

<!--
<%= render "devise/shared/links" %>
-->
