<p id="notice"><%= notice %></p>

<h1>Listing Advertisements</h1>
	
	<div class="row small-up-1 medium-up-2 large-up-3">
	<% @advertisements.each do |advertisement| %>
	<div class="columns">
      <%= image_tag advertisement.imageAd_url(:thumb) %>
      <h4><%= link_to advertisement.AdvertisementName, advertisement %></h4>
      <p><%= advertisement.AdvertisementDescription %></p>
    </div>
		<%end%>
    </div>
<br>


<%= link_to 'New Advertisement', new_advertisement_path %>




