<p id="notice"><%= notice %></p>
	<div class="row align-right">
		<%= link_to 'New Advertisement', new_advertisement_path %>
	</div>	
	<%= form_tag selectAds_path ,method: :put do %>
	<div class="row small-up-1 medium-up-2 large-up-3">
	<% @advertisements.each do |advertisement| %>
	<div class="columns adbsbox">
      <%= image_tag advertisement.imageAd_url(:thumb), :style => "height:200px; width:400px;"%>
      <h4>Title: <%= link_to advertisement.AdvertisementName, advertisement %></h4>
      <p>Description: <%= advertisement.AdvertisementDescription %></p>
      <p>Select to active: <%= radio_button_tag 'advertisement_id[]', advertisement.id,true %></p>
    </div>
		<%end%>
    </div>
<br>
<div class="row align-right">
<%= submit_tag "Activate Selected Advertisment" %>
<% end %>



</div>


