<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">
	<div class="row column log-in-form ">
        <h4 class="text-center">Log In</h4>
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="field field-padding">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, placeholder:"someone@example.com"%>
		  </div>
	
		  <div class="field field-padding">
		    <%= f.label :password %><br />
		    <%= f.password_field :password, autocomplete: "off" %>
		  </div>
		
		  <% if devise_mapping.rememberable? -%>
		    <div class="field field-padding">
		      <%= f.check_box :remember_me %>
		      <%= f.label :remember_me %>
		    </div>
		  <% end -%>
		
		  <div class="actions field-padding">
		    <%= f.submit "Log in", :class => 'button expanded'%>
		  </div>
		<% end %>
		<div class="field-padding">
		<%= render "devise/shared/links" %>
		</div>
</div>
</div>
</div>



