<%= form_for(@bannerslide) do |f| %>
  <% if @bannerslide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bannerslide.errors.count, "error") %> prohibited this bannerslide from being saved:</h2>

      <ul>
      <% @bannerslide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
	<div class="large-6 large-centered columns">
	<div class="row column log-in-form">

  <div class="field field-padding">
    <%= f.label :name , "Title"%><br>
    <%= f.text_field :name %>
  </div>
  <div class="field field-padding">
    <%= f.label :imageBs , "Image file, only accept jpg, jpeg, gif and png files" %><br>
    <%= f.file_field :imageBs %>
  </div>
  <div class="actions field-padding">
    <%= f.submit %>
  </div>
  </div>
	</div>
	</div>
<% end %>


