<div id="section_create<%= @counter %>" class="medium-4 columns">
	<div class="profile-card">
    	<img src="http://zurb.com/ink/images/inky-computer.svg" alt="Yeti">
    	<div class="profile-info">
       		<h4 class="subheader">Section</h4>
        	<p id="form_name_add<%= @counter %>">Create Sections for your Form </p>
        	<div id="section_name<%= @counter %>">
        	</div>
    		<div id="create_section_div<%= @counter %>"> 
    		</div>
    		<div id="display_section_div<%= @counter %>">
        	</div>
        	<div id="section_error_message<%= @counter %>">
        	</div>

      	</div>
	</div>
</div>
  	
	<div class="medium-4 columns" style="display:none">	
  	</div>
