</br></br>
<h3>Form Open to:</h3>
<table style="color:black">
  <thead>
    <tr>
      <th>No.</th>
      <th>programe name</th>
      <th>faculty name </th>
      <th>year of study</th>
      <th>level of study</th>
      <th>Age Type</th>
      <th>Age From</th>
      <th>Age To</th>
      <th colspan="1"></th>
    </tr>
  </thead>
<% @counter = 0%>
  <tbody>
    <% @formAssociates.each do |asso| %>
      <tr>
      	<td><%= @counter += 1%></td>
        <td><%= asso.programme.programmename %></td>
        <td><%= asso.faculty.facultyname %></td>
        <td><%= asso.yearofstudy.year %></td>
        <td><%= asso.levelofstudy.levelname %></td>
        <td><%= asso.agecondition %></td>
        <td><%= asso.agefrom %></td>
        <td><%= asso.ageto %></td>
       	<td><%= link_to 'Delete', admin_delete_associate_forms_path(:asso_id => asso.id, :id => asso.form_id), data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr style="color:red">
    	<td colspan="9" style="text-align: center"><%= link_to "Add", admin_create_associates_forms_path(:form_id => @form.id) ,remote: true%> </td>
    </tr>
  </tbody>
</table>

