<%= form_for @form, :id => "form_creation" ,  :url => submit_create_survey_forms_path, remote: true do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>
      <ul>
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="row">
		<div class="large-12 columns new_form">
	        <%= f.label :FormName, 'Form Name' %>
	        <%= f.text_field :FormName%>
    	</div>
	</div>  
 
	<div class="row">
 		<div class="large-12 columns">
		    <%= f.label :FormDescription, 'Form Description' %>
		    <%= f.text_field :FormDescription%>
		</div>  
 	</div>	
 	
	<div class="row">
	<div class="large-6 columns">
		<%= f.submit data: { confirm: 'Are you sure?' }, :value => "Create"%>
	</div>
		<div class="large-6 columns">
	<%= f.submit "clear", :type => "reset" %>
	</div>
  </div>

<% end %>



