<div class="row" style="margin-left:40px">
	<% @subA.each do |sa|%>
		<% if check_subanswer(params[:formanswer_id], sa.id).empty? %>
			<% @value = false%>																		
		<%else%>
			<% @value = true%>			
		<%end%> 									
		<p><%= check_box_tag 'subAnswer_id', sa.id, @value , data: {url: save_subAns_forms_path(:subAnswer_id => sa.id, :formanswer_id => params[:formanswer_id]), :method => :post, remote: true }  -%>
		 
		<!-- translator  !-->
			<% sadescresult = sa.SADesc.split(/ /||/,/||/./)%>
			<% $tran = 0%>	
				<% until $tran > (sadescresult.count-1)%>	
					<% sadescresult[$tran]%>
					<% $checkword = true%>
						<% @translators.each do |translate| %>
							<%if sadescresult[$tran].downcase == translate.TranslatorEng %>	
								<span data-tooltip aria-haspopup="true" class="has-tip " data-disable-hover="false" tabindex="1" title="<%= translate.TranslatorChinese%>,  <%= translate.TranslatorDescription%>  ">
									<%= sadescresult[$tran]%>
								</span>	
								<% $checkword = false%>
							<%end%>
						<%end%>
					<%if $checkword == true%>
						<%= sadescresult[$tran]%>
					<%end%>
					<% $tran += 1%>
				<%end%>
		</p>
		
	<%end%>
</div>