
<table>
	<tbody>
		<% @selectedSections.each do |s| %>	
		<tr>
			<th style="width:50%">
				<br/><br /><br /><br /><br /><br /><br />
				<%= s.SectionName %>
			</td>
				<th style="width:50%">
				<br/><br /><br /><br /><br /><br /><br />
					Answers
				</th>
			<td> 
				<% obtain_questions(s.id).each do |q| %>
				<tr>
					<td> 
					<%= q.QuestionNumber %>. <%= q.QuestionDesc %> 
					</td>
					<td>
					<% obtain_answers(q.id).each do |a|%>	
					<%-#Assuming that  IF it is NOT a SubAnswer, it could have a subquestion -%>
						<% if !a.IsSubAnswer or a.IsSubAnswer == 0%>
							<br/>
							<%= a.AnswerDesc%>
								<%if a.IsSubQuestion or a.IsSubQuestion == 1%>
									
									<% obtain_subquestion(a.id).each do |sq| %>
									<table>
										<tr>
											<td>
										<%=q.QuestionNumber%><%= sq.SQChar%>. <%= sq.SQDesc%>
										<br/>
										<% obtain_subquestionanswer(sq.id).each do |sqa|%>
											<br/>
											<%= sqa.SQAnswer%>		
										<%end%>
											</td>
										</tr>
									</table>
									<%end%>
								<%end%>
						<%elsif  a.IsSubAnswer or a.IsSubAnswer == 1%>

							<b><%= a.AnswerDesc%></b>

							<table>			
							<% obtain_subanswers(a.id).each do |sa|%>
							<tr>
								<td><%= sa.SADesc%> </td>
							</tr>					
						<%end%>									
						</table>
					<%end%>
				<%end%>
				</td>
			</tr>
		<%end%>
		</tr>
		<% end %>
	</tbody>
</table>