<p id="notice">
	<%= notice %>
</p>

<table>
	<tbody>
		<% @selectedSections.each do |s| %>	
		<tr>
			<td>
				<%= s.SectionName %></td>
			<td> 
				<% obtain_questions(s.id).each do |q| %>
				<tr>
					<td> 
					<%= q.QuestionNumber %>. <%= q.QuestionDesc %> 
					</td>
					<td>
					<% obtain_answers(q.id).each do |a|%>	
					<%-#Assuming that  IF it is NOT a SubAnswer, it could have a subquestion -%>
						<% if !a.IsSubAnswer or a.IsSubAnswer == 0%>
							<br/>
							<%= check_box_tag 'answer_ids[]', a.id -%>
							<%= a.AnswerDesc%>
								<%if a.IsSubQuestion or a.IsSubQuestion == 1%>
									<br/>				
									<% obtain_subquestion(a.id).each do |sq| %>
									<table>
										<tr>
											<td>
										<%=q.QuestionNumber%><%= sq.SQChar%>. <%= sq.SQDesc%>
										<br/>
										<% obtain_subquestionanswer(sq.id).each do |sqa|%>
											<br/>
											<%= check_box_tag 'SQAnswer_ids[]', sqa.id -%>
											<%= sqa.SQAnswer%>		
										<%end%>
											</td>
										</tr>
									</table>
									<%end%>
								<%end%>
						<%elsif  a.IsSubAnswer or a.IsSubAnswer == 1%>
							<br/>
							<%= a.AnswerDesc%> [[[SubAnswer here YES/NO]]]
							<br/>
							<% obtain_subanswers(a.id).each do |sa|%>
								<br/>
								<%= check_box_tag 'subanswer_ids[]', sa.id -%>
								<%= sa.SADesc%>
						<%end%>
					<%end%>
				<%end%>
				</td>
			</tr>
		<%end%>
		<td>HEHE</td>
		</tr>
		<% end %>
	</tbody>
</table>
<a href="#" class="button">Default Button</a>
