<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Sectionname:</th>
      <th>Sectiondescription:</th>
      <th>Form:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |testForm| %>
      <tr>
        <td><%= testForm.SectionName %></td>
        <% if testForm.id == '1' 
           @questions.each do |testQuestions|%>
           
           asdfghhj
       	
       
        <% end 
        end%>
        
        <td><%= testForm.SectionDescription %></td>
        <td><%= testForm.form.id %></td>

        <td><%= link_to 'Select', form_select_path() %></td>
      </tr>
    <% end %>
  </tbody>
</table>