<p id="notice">
	<%= notice %>
</p>

<table>
	<thead>
		<tr>
			<th>Sectionname:</th>
			<th>Questions:</th>
			<th>Form:</th>
		</tr>
	</thead>

	<tbody>
		<% @sections.each do |sections| %>
		<tr>
			<td><%= sections.SectionName %></td>
				<td>
					<% @questions.each do |questions| %>
					<% if sections.id == questions.sId%>
					<tr>
						<td><%= questions.QuestionNumber %>. <%= questions.QuestionDesc %> </td>
						<% @answers.each do |ans|%>
						<br/>
						<%= ans.AnswerDesc%>
						<%end%>
					</tr>
						<%end%>
				 <%end%>
				</td>
			<td><%= link_to 'View', '#', :onclick => (obtain_question(sections.id)) %></td>
		</tr>
		<% end %>
	</tbody>
</table>