<%= form_for(@studsubanswer) do |f| %>
  <% if @studsubanswer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@studsubanswer.errors.count, "error") %> prohibited this studsubanswer from being saved:</h2>

      <ul>
      <% @studsubanswer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subanswer_id %><br>
    <%= f.text_field :subanswer_id %>
  </div>
  <div class="field">
    <%= f.label :formanswer_id %><br>
    <%= f.text_field :formanswer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
