<p id="notice"><%= notice %></p>

<p>
  <strong>Subanswer:</strong>
  <%= @studsubanswer.subanswer %>
</p>

<p>
  <strong>Formanswer:</strong>
  <%= @studsubanswer.formanswer %>
</p>

<%= link_to 'Edit', edit_studsubanswer_path(@studsubanswer) %> |
<%= link_to 'Back', studsubanswers_path %>
