<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
				
	<div class="row collapse">
		<div class="large-4 columns">
			<ul class="tabs" data-tabs id="example-tabs" > 
			  <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Report Data</a></li>
			  <li class="tabs-title"><a href="#panel2">Graph Template</a></li>
			  <li class="tabs-title"><a href="#panel3">Setting</a></li>
			</ul>
			<div class="tabs-content" data-tabs-content="example-tabs"  style="height: 450px;overflow-y:scroll;">
			  <div class="tabs-panel is-active" id="panel1" >
			  	<p>

			  		<input type="checkbox" name="gender" value=":gender" id="checkboxa">gender<br>
			  		<input type="checkbox" name="facultyname" value=":facultyname" id="checkboxb">faculty<br>
			  		<%= form_tag(testing_reports_path, :method => "GET", remote: true) do %> 
			  		<p>Graph Type :<%= select_tag "GraphType", options_for_select(@GraphTypes)%></p>     
					<p>Select: <%= select_tag "class", options_for_select(@choices) ,  {prompt: "Please Select "}%> </p>
						<%= submit_tag "Edit" , data: { confirm: 'Are you sure?' }%>
					<%end%>
			  	</p>
			  </div>
			  <div class="tabs-panel" id="panel2" >
			  	<h4>Horizontal Bar Graph</h4>
			    <div class="image-wrapper overlay-fade-in">
			      <img src= "/assets/horizontal-bar-chart.png"/>   
			      <div class="image-overlay-content">
			        <h2>Horizontal bar graph</h2>
			        <%= link_to displayHorizonBar_reports_path, remote: true do %>
        				<button id="horizongraph" class="button" >Select</button>	
        			<% end %>
			      </div>
			    </div>
			    <h4>Vertical Bar Graph</h4>
			    <div class="image-wrapper overlay-fade-in">
			      <img src="/assets/column_bar.jpg" />   
			      <div class="image-overlay-content">
			        <h2>Vertical bar graph</h2>
			        <%= link_to displayVerticalBar_reports_path, remote: true do %>
			        	<button id="verticalgraph" class="button" name="abc" >Select</button>	
			        <% end %>
			      </div>
			    </div>
			    <h4>Pie Chart Graph</h4>
			    <div class="image-wrapper overlay-fade-in">
			      <img src="/assets/PieChart.png" />   
			      <div class="image-overlay-content">
			        <h2>Vertical bar graph</h2>
			        <%= link_to displayPie_reports_path, remote: true do %>
			        	<button id="piechart" class="button">Select</button>
			        <% end %>
			      </div>
			    </div> 
			  </div>
			  <div class="tabs-panel" id="panel3">
			  	<div class="row collapse">
				  <div class="medium-4 columns">
				    <ul class="tabs vertical" id="example-vert-tabs" data-tabs>
				      <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">Title</a></li>
				      <li class="tabs-title"><a href="#panel2v">Appearence</a></li>
				      <li class="tabs-title"><a href="#panel3v">Data Series</a></li>
				      <li class="tabs-title"><a href="#panel4v">Appearence</a></li>   
				    </ul>
				    </div>
				    
				    <div class="medium-8 columns">
				    <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
				     <%= form_tag(gettitle_reports_path, remote: true) do %>
				      <div class="tabs-panel is-active" id="panel1v">
				        <p>Main Title</p>
				        <p>
				        	<label>Title: </label>
				        	<input type="text" name="title" id="title">
				           <br/>
				           	<label>Sub Title: </label>
				        	<input type="text" name="subtitle" id="subtitle">
				           <br/>
				           	<label>X Axis Title: </label>
				        	<input type="text" name="xtitle" id="xtitle">
				           <br/>
				           	<label>Y Axis Title: </label>
				        	<input type="text" name="ytitle" id="ytitle">
				           <br/>	
				        </p>
				      
				      </div>
				      <div class="tabs-panel" id="panel2v">
				      	
				      	Chart Area
				            <label>Background Color: </label>
				        	<input value="#ffffff" type="color" name="chartbackground" id="chartbackground" />
				        	
				        	<label>Border Color: </label>
				        	<input value="#ffffff" type="color" name="bordercolor" id="bordercolor" />
				        	
				        	<label>Border Radius: </label>
				        	<input value="" type="text" name="borderradius" id="borderradius" />
				        	
				        	<label>Border Width: </label>
				        	<input value="" type="text" name="borderwidth" id="borderwidth" />
				        	Prot Area
				        	<label>Plot Image Url: </label>
				        	<input value="" type="text" name="plotimage" id="plotimage" />
				        	
				        	<label>Border Color: </label>
				        	<input value="#ffffff" type="color" name="plotbordercolor" id="plotbordercolor" />
				        	
				        	<label>Border Width: </label>
				        	<input value="" type="text" name="plotborderwidth" id="plotborderwidth" />
				      	<!--
				       <p>Title Size:
				       <input type="number" name="title-size" id="sizetitle" min="12" max="50" value="12"></p>
				       <button type="button" id="boldtitle" class="secondary button" style="font-style: bold">B</button>
				       <button type="button" id="italictitle" class="secondary button" style="font-style: italic">I</button>
				       <button type="button" id="undertitle" class="secondary button" style="font-style: underline">U</button>
				       <p>Sub Title Size:
				       <input type="number" name="title-size" id="sizesubtitle" min="12" max="50" value="12"></p>
				       <button type="button" id="boldsubtitle" class="secondary button" style="font-style: bold">B</button>
				       <button type="button" id="italicsubtitle" class="secondary button" style="font-style: italic">I</button>
				       <button type="button" id="undersubtitle" class="secondary button" style="font-style: underline">U</button>
				      -->
				      </div>
				      <div class="tabs-panel" id="panel3v">
				      		Data Series
				        	<label>Prefix in tooltips: </label>
				        	<input value="" type="text" name="valueprefix" id="valueprefix" />
				        	
				        	<label>Suffix in tooltips: </label>
				        	<input value="" type="text" name="valuesuffix" id="valuesuffix" />
						
				      </div>
				    </div>
				     <%= submit_tag "Change" %>
				      <% end %>
				  </div>
				</div>
			  </div>
			</div>

		</div>	
		<div class="large-8 columns">
			<h4>Preview</h4>
			<div>
				<!--
				<p id="previewtitle" class="changeMe" style="line-height: 70%;text-align:center;"></p>
				<p id="previewsubtitle" class="changeMe1" style="text-align:center; "></p>	-->
				<div id="previewgraph" style="height: 325px;width: 750px;"></div>	
			</div>	
		</div>
	</div>

 

