<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

	<% if user_signed_in? && (current_user.admin? || current_user.staff?) %>
<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
    	
      <li class="menu-text" style="color: black">Survey</li>
    </ul>
  </div>
  <div class="top-bar-left">
    <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
      <li class="has-submenu">
        <a href="#">Survey</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><%= link_to 'Forms', new_form_path() %></li>
          <li><a href="#">Results</a></li>
          <li><a href="#">Questions</a></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a href="#">Report</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="#">Generate Reports</a></li>
          <li><a href="#">Manage Reports</a></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a href="#">Advertisement</a>
        <ul class="submenu menu vertical" data-submenu>
		  <li><%= link_to 'Create Advertisement', new_advertisement_path() %></li>
		  <li><%= link_to 'Show Advertisement', advertisements_path() %></li>
		  </ul>
	  </li>  
	  <li class="has-submenu">
        <a href="#">Background</a>
        <ul class="submenu menu vertical" data-submenu>
		  <li><%= link_to 'Create Background', new_background_path() %></li>
		  <li><%= link_to 'Show Background', backgrounds_path() %></li>
		  </ul>
	  </li>
	  <li class="has-submenu">
        <a href="#">Translator</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><%= link_to 'Create Translator', new_translator_path() %></li>
		  <li><%= link_to 'Show Translator', translators_path() %></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a href="#">User Management</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><%= link_to 'View User', users_path() %></li>
        </ul>
      </li>
	  <li><a href="#">About</a></li>
    </ul>
  </div>
  	<div class="top-bar-right">
  		<ul class="menu" data-responsive-menu="drilldown medium-dropdown">
  	<% if user_signed_in? %>
  		Signed in as <%= current_user.email %>. Not you?
  		<%= link_to "Edit profile", edit_user_registration_path %>
  		<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	<% else %>
  		<li><%= link_to "Sign up", new_user_registration_path %></li>
  		
  		<li><%= link_to "Sign in", new_user_session_path %></li>
	<% end %>
		<% flash.each do |name, msg| %>
  		<%= content_tag :div, msg, id: "flash_#{name}" %>
	<% end %>
	</ul>
  	</div>
</div>

	<% elsif  user_signed_in? && current_user.student? %>
	
		<div class="top-bar" id="main-menu">
		  <div class="top-bar-left">
		    <ul class="dropdown menu" data-dropdown-menu>  	
		      <li class="menu-text" style="color: black">Home</li>
		    </ul>
		  </div>
		  <div class="top-bar-left">
		    <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
		    	<li class="has-submenu">
        			<a href="#">Survey</a>
        		</li>
        	</ul>
        </div>
        
        <div class="top-bar-right">
  		<ul class="menu" data-responsive-menu="drilldown medium-dropdown">
		<% if user_signed_in? %>
	  		Signed in as <%= current_user.email %>. Not you?
	  		<%= link_to "Edit profile", edit_user_registration_path %>
	  		<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
		<% else %>
  			<li><%= link_to "Sign up", new_user_registration_path %></li>
  		
  			<li><%= link_to "Sign in", new_user_session_path %></li>
		<% end %>
			<% flash.each do |name, msg| %>
  			<%= content_tag :div, msg, id: "flash_#{name}" %>
		<% end %>
		</ul>
		</div>
		</div>

	<%else%>
	<ul class="menu" data-responsive-menu="drilldown medium-dropdown">
		<% if user_signed_in? %>
	  		Signed in as <%= current_user.email %>. Not you?
	  		<%= link_to "Edit profile", edit_user_registration_path %>
	  		<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
		<% else %>
  			<li><%= link_to "Sign up", new_user_registration_path %></li>
  			<li><%= link_to "Sign in", new_user_session_path %></li>
		<% end %>
			<% flash.each do |name, msg| %>
  			<%= content_tag :div, msg, id: "flash_#{name}" %>
		<% end %>
	</ul>
	<% end %>
	
    <%= yield %>

  </body>
</html>
