<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title><%= content_for?(:title) ? yield(:title) : "Survey Diamond" %></title>

    <%= stylesheet_link_tag    "application" , media: 'all'%>
    <%= javascript_include_tag "application"%>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
	<% if user_signed_in? && (current_user.admin? || current_user.staff?) %>
<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="menu" data-dropdown-menu>
    		<%= link_to(image_tag("/assets/Survey-logo.jpg", :alt => "logo", :title => "Home", :style=>"max-height:35px;max-width: 150px;"),'/') %>
    </ul>
  </div>
  <div class="top-bar-left">
    <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
      <li class="has-submenu">
        <a href="#">Survey</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><%= link_to 'Create New Survey', create_survey_forms_path %></li>
          <li><%= link_to 'View Surveys', admin_view_survey_forms_path() %></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a href="#">Report</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><%= link_to 'Generate Report', new_report_path() %></li>
		  <li><%= link_to 'Manage Report', reports_path() %></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a href="#">Advertisement</a>
        <ul class="submenu menu vertical" data-submenu>
		  <li><%= link_to 'Create Advertisement', new_advertisement_path() %></li>
		  <li><%= link_to 'Manage Advertisement', advertisements_path() %></li>
		  <li><%= link_to 'Manage Group Advertisement', editassociate_advertisements_path()%></li>
		  <li><%= link_to 'Create Banner', new_bannerslide_path() %></li>
		  <li><%= link_to 'Manage Banner', bannerslides_path() %></li>
		  </ul>
	  </li>  
	  <li class="has-submenu">
        <a href="#">Background</a>
        <ul class="submenu menu vertical" data-submenu>
		  <li><%= link_to 'Create Background', new_background_path() %></li>
		  <li><%= link_to 'Show Background', backgrounds_path() %></li>
		  </ul>
	  </li>
	  <li class="has-submenu">
        <a href="#">Translator</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><%= link_to 'Create Translator', new_translator_path() %></li>
		  <li><%= link_to 'Show Translator', translators_path() %></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a href="#">User Management</a>
        <ul class="submenu menu vertical" data-submenu>
          <!--<li><%= link_to 'Create User', new_user_path() %></li>-->
          <li><%= link_to 'Manage User', users_path() %></li>
          <li><%= link_to 'Import User', new_user_import_path()%></li>
          <li><%= link_to 'Manage Faculty ', faculties_path() %></li>
          <li><%= link_to 'Manage Programme ', programmes_path() %></li>
          <li><%= link_to 'Manage Level of Study', levelofstudies_path() %></li>  
          <li><%= link_to 'Manage Year of Study', yearofstudies_path() %></li>
        </ul>
      </li>
	  <li><a href="#">About</a></li>
    </ul>
  </div>
  	<div class="top-bar-right">
  		<ul class="menu" data-responsive-menu="drilldown">
  			
  	<% if user_signed_in? %>
  		<li>Signed in as <%= current_user.email %>. Not you?</li>
  		<%= link_to "Edit profile", edit_user_registration_path %>
  		<%= link_to "Log out", destroy_user_session_path, :method => :delete %>
	<% else %>
  		<li><%= link_to "Register", new_user_registration_path %></li>
  		
  		<li><%= link_to "Log in", new_user_session_path %></li>
	<% end %>
	<% flash.each do |name, msg| %>
  		<%= content_tag :div, msg, id: "flash_#{name}" %>
	<% end %>
		
	</ul>
  	</div>
</div>

	<% elsif  user_signed_in? && current_user.student? %>
		<div class="top-bar" id="main-menu">
		  <div class="top-bar-left">
    		<ul class="menu" data-dropdown-menu>
    		<%= link_to(image_tag("/assets/Survey-logo.jpg", :alt => "logo", :title => "Home", :style=>"max-height:35px;max-width: 150px;"),'/') %>
    		</ul>
  		  </div>
		  <div class="top-bar-left">
		    <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
		    	<li class="has-submenu">
        			<a href="#">Survey</a>
				        <ul class="submenu menu vertical" data-submenu>
				          <li><%= link_to 'View Surveys', user_view_surveys_forms_path %></li>
				        </ul>
        		</li>
        	</ul>
        </div>
        
        <div class="top-bar-right">
  		<ul class="menu" data-responsive-menu="drilldown medium-dropdown">
		<% if user_signed_in? %>
	  		Signed in as <%= current_user.email %>. Not you?
	  		<%= link_to "Edit profile", edit_user_registration_path %>
	  		<%= link_to "Log out", destroy_user_session_path, :method => :delete %>
		<% else %>
  			<li><%= link_to "Register", new_user_registration_path %></li>
  		
  			<li><%= link_to "Log in", new_user_session_path %></li>
		<% end %>
		<% flash.each do |name, msg| %>
  		<%= content_tag :div, msg, id: "flash_#{name}" %>
	<% end %>
			
		</ul>
		</div>
		</div>

	<%else%>
	<div class="top-bar" id="main-menu">
		<div class="top-bar-left">
		    <ul class="menu" data-dropdown-menu>
		      <%= link_to(image_tag("/assets/Survey-logo.jpg", :alt => "logo", :title => "Home", :style=>"max-height:35px;max-width: 150px;"),'/') %>
		    </ul>
		</div>
	<ul class="menu" data-responsive-menu="drilldown medium-dropdown">
		<% if user_signed_in? %>
	  		Signed in as <%= current_user.email %>. Not you?
	  		<%= link_to "Edit profile", edit_user_registration_path %>
	  		<%= link_to "Log out", destroy_user_session_path, :method => :delete %>
		<% else %>
  			<li><%= link_to "Register", new_user_registration_path %></li>
  			<li><%= link_to "Log in", new_user_session_path %></li>
		<% end %>
		<% flash.each do |name, msg| %>
  		<%= content_tag :div, msg, id: "flash_#{name}" %>
	<% end %>
			
	</ul>
	</div>
	<% end %>
	
	<div style="margin-top: 20px">
    <%= yield %>
    </div>
    

  </body>
</html>