<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Survey Diamond" %></title>
    <%= stylesheet_link_tag    "application" , media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<div class="top-bar" id="main-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
    	
      <li class="menu-text" style="color: black">Survey</li>
    </ul>
  </div>
  <div class="top-bar-left">
    <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
      <li class="has-submenu">
        <a href="#">Survey</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><%= link_to 'Forms', new_form_path() %></li>
          <li><a href="#">Results</a></li>
          <li><a href="#">Questions</a></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a href="#">Report</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="#">Generate Reports</a></li>
          <li><a href="#">Manage Reports</a></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a href="#">Advertisement</a>
        <ul class="submenu menu vertical" data-submenu>
		  <li><%= link_to 'Create Advertisement', new_advertisement_path() %></li>
		  <li><%= link_to 'Manage Advertisement', advertisements_path() %></li>
		  <li><%= link_to 'Create Banner', new_bannerslide_path() %></li>
		  <li><%= link_to 'Manage Banner', bannerslides_path() %></li>
		  </ul>
	  </li>  
	  <li class="has-submenu">
        <a href="#">Background</a>
        <ul class="submenu menu vertical" data-submenu>
		  <li><%= link_to 'Create Background', new_background_path() %></li>
		  <li><%= link_to 'Show Background', backgrounds_path() %></li>
		  </ul>
	  </li>
	  <li class="has-submenu">
        <a href="#">Translator</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><%= link_to 'Create Translator', new_translator_path() %></li>
		  <li><%= link_to 'Show Translator', translators_path() %></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a href="#">User Management</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><%= link_to 'View User', users_path() %></li>
          <li><%= link_to 'Import User', new_user_import_path()%></li>
        </ul>
      </li>
	  <li><a href="#">About</a></li>
    </ul>
  </div>
  	<div class="top-bar-right">
  		<ul class="menu" data-responsive-menu="drilldown medium-dropdown">
  	<% if user_signed_in? %>
  		Signed in as <%= current_user.email %>. Not you?
  		<%= link_to "Edit profile", edit_user_registration_path %>
  		<%= link_to "Log out", destroy_user_session_path, :method => :delete %>
	<% else %>
  		<li><%= link_to "Register", new_user_registration_path %></li>
  		
  		<li><%= link_to "Log in", new_user_session_path %></li>
	<% end %>
		
	</ul>
  	</div>
</div>

	
	<div style="margin-top: 20px">
    <%= yield %>
    </div>
    

  </body>
</html>
