<!DOCTYPE html>
<html>
<head>
  <title>SCSSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Admin -->
<div>
	<% if current_user %>
<ul>
  <li><a class="active"><a href="home">Home</a></li>
  <li class="dropdown">
  	<a href="#" class="dropbtn">Survey</a>
  	 <div class="dropdown-content">
      <a href="#">Forms</a>
      <a href="#">Results</a>
      <a href="#">Questions</a>
      <a href="#">Answers</a>
    </div>
  	</li>
  <li class="dropdown">
    <a href="#" class="dropbtn">Report</a>
    <div class="dropdown-content">
      <a href="#">Generate Reports</a>
      <a href="#">Manage Reports</a>
    </div>
  </li>
  <li><a href="#">Import User</a></li>
  <li><a href="#">Advertisement</a></li>
  <li><a href="#">Background</a></li>
  <li><a href="#">About</a></li>
  <li style="color: white"><a><%= current_user.StudentEmail %></a></li>
  <li style="float:right"><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>
<% else %>
<ul>
  <li><a class="active"><a href="home">Home</a></li>
  <li><a href="#">About</a></li>
  <li style="float:right"><%= link_to "Sign Up", signup_path %></li>
  <li style="float:right"><%= link_to "Log In", login_path %></li>
</ul>
<% end %>
</div>
<%= yield %>

</body>
</html>
